DB_DEFINITION:
  comment: The database profile to use with DB caller.
  type: string
  value: dev

DB_DEFINITIONS:
  comment: A list of credentials that DB caller can use.
  type: list
  value:
    - id: dev
      host: "localhost"
      dbname: "dbname"
      username: "postgres"
      pword: "clever_password"
      load_dir: "/path/to/psql/data/"
      classification_version_sid: 25
    - id: test
      host: "localhost"
      dbname: "dbname"
      username: "postgres"
      pword: "clever_password"
      load_dir: "/path/to/psql/data/"
      classification_version_sid: 25
    - id: prod
      host: "localhost"
      dbname: "dbname"
      username: "postgres"
      pword: "clever_password"
      load_dir: "/path/to/psql/data/"
      classification_version_sid: 25

PUBMED_HOST: ftp-private.ncbi.nlm.nih.gov
PUBMED_USERID: username
PUBMED_PWORD: great_password